@import '../../styles/variables';

.container {
  text-decoration: none;
  figure {
    margin: 0;
  }
  .imageContainer {
    margin-bottom: 10px;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
    background-color: $BackgroundImage;
    border-radius: 4px;
    .img {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 14px 30px
        rgba(var(--color-shadow-blue),.15),0 4px 4px
        rgba(var(--color-shadow-blue),.05);
    }
  }
  .title {
    font-size: 1.2rem;
    color: $Black;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include desktop {
      font-size: 2rem;
    }
  }
}