@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
  .img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 14px 30px
      rgba(var(--color-shadow-blue),.15),0 4px 4px
      rgba(var(--color-shadow-blue),.05);
  }
  .title {
    color: $Black;
  }
}