@import '../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 30px;
  a {
    text-decoration: none;
  }
  .img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 14px 30px
      rgba(var(--color-shadow-blue),.15),0 4px 4px
      rgba(var(--color-shadow-blue),.05);
    @include tablet {
      min-width: 120px;
      max-width: 120px;
    }
    @include largeDesktop {
      min-width: 160px;
      max-width: 160px;
    }
  }
  .title {
    color: $Black;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include desktop {
      font-size: 2rem;
    }
  }
}