@import '../../styles/variables';

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $PrimaryColor;
  a {
    text-decoration: none;
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $White;
    color: $Black;
    padding: 5px 15px;
    border-radius: 5px;
    span {
      margin-right: 5px;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    .img {
      max-width: 60px;
    }
    .title {
      color: $White;
      margin: 0;
      display: none;
      @include tablet {
        display: block;
      }
    }
  }
}