@import '../../styles/variables';

.container {
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $PrimaryColor;
  .img {
    max-width: 60px;
  }
  .title {
    color: $White;
    margin: 0;
  }
}