@import './../../styles/variables';

.listContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 0 10px;
  @include tablet {
    gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 40px;
  }
  @include desktop {
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
  }
}